/* src/components/Menu/menu.css */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px; 
}

.menu input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Para incluir a borda no cálculo do tamanho */
}

.menu-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.menu-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-card img {
  width: 100%;
  height: 200px; /* Defina a altura fixa desejada */
  object-fit: cover; /* Garante que a imagem cubra o espaço especificado */
  border-radius: 8px 8px 0 0; /* Arredonda apenas os cantos superiores */
}

.menu-card h2 {
  margin-top: 15px;
  font-size: 18px;
}

.menu-card p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.menu-card ul {
  list-style-type: none;
  padding: 0;
}

.menu-card li {
  margin-bottom: 5px;
}

.menu-card button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.menu-card button:hover {
  background-color: #0056b3;
}

.menu-card .details-button {
  margin-bottom: 0; /* Remove a margem inferior do botão "Ver Detalhes" */
}
.menu-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.menu-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.menu-card h2 {
  margin-top: 15px;
  font-size: 18px;
}

.menu-card p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.menu-card ul {
  list-style-type: none;
  padding: 0;
}

.menu-card li {
  margin-bottom: 5px;
}

.menu-card select,
.menu-card input[type="number"] {
  width: calc(100% - 16px); /* Considera o padding para manter a largura total */
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Para incluir a borda no cálculo do tamanho */
}

.menu-card button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.menu-card button:hover {
  background-color: #0056b3;
}

.menu-card .details-button {
  margin-bottom: 0; /* Remove a margem inferior do botão "Ver Detalhes" */
}


.search {
  margin-bottom: 20px; /* Adiciona espaço entre o campo de pesquisa e o seletor de categoria */
}

.search input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Adiciona espaço entre o campo de pesquisa e o seletor de categoria */
}

.search select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.menu-header {
  text-align: center; /* Centraliza o texto */
  margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

.menu {
  display: flex;
  flex-direction: column; /* Alterado para empilhar os itens verticalmente */
  align-items: center; /* Centraliza os itens na horizontal */
  margin-bottom: 100px; 
}

.menu-header {
  text-align: center; /* Centraliza o texto */
  margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

.search {
  margin-bottom: 20px; /* Adiciona espaço entre o campo de pesquisa e o seletor de categoria */
}

.search {
  position: fixed;
  top: 50%; /* Centraliza verticalmente */
  left: 0; /* Fixa à esquerda */
  transform: translateY(-50%); /* Ajusta para o meio da altura */
  z-index: 999; /* Garante que o campo de pesquisa esteja acima de outros elementos */
  background-color: #fff; /* Define o fundo para evitar transparência */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

.menu {
  padding-left: 0px; /* Ajusta o espaço na parte esquerda do conteúdo para evitar a sobreposição pelo campo de pesquisa */
}


.search input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Adiciona espaço entre o campo de pesquisa e o seletor de categoria */
}

.search select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; /* Adiciona espaço acima dos itens do menu */
}


.menu {
  padding-left: 0px; /* Ajusta o espaço na parte esquerda do conteúdo para evitar a sobreposição pelo campo de pesquisa */
}

.menu-header {
  text-align: center; /* Centraliza o texto */
  margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

.search {
  position: fixed;
  top: 50%; /* Centraliza verticalmente */
  left: 0; /* Fixa à esquerda */
  transform: translateY(-50%); /* Ajusta para o meio da altura */
  z-index: 999; /* Garante que o campo de pesquisa esteja acima de outros elementos */
  background-color: #fff; /* Define o fundo para evitar transparência */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

.search input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Adiciona espaço entre o campo de pesquisa e o seletor de categoria */
}

.search select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-icon, .close-icon {
  cursor: pointer;
  /* Redondo */
  border-radius: 50%;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  /* Para garantir que tenha dimensões quadradas */
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon-container {
  float: right;
}

.close-icon {
  cursor: pointer;
  /* Redondo */
  border-radius: 50%;
  padding: 10px; /* Aumenta o espaço ao redor do ícone */
  background-color: #007bff;
  color: #fff;
  /* Para garantir que tenha dimensões quadradas e alinhamento do texto */
  width: 20px; /* Ajuste conforme necessário */
  height: 20px; /* Ajuste conforme necessário */
  display: flex;
  justify-content: center;
  align-items: center;
}



.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; /* Adiciona espaço acima dos itens do menu */
}
